n8n-workflows/alert-system.json
{
  "name": "Alert System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "as-cron",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql || 'SELECT 1' }}"
      },
      "id": "as-insert",
      "name": "Insert Alerts",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        448,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "9io5uj6IpYHlzMgX",
          "name": "MySQL - Home DB"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pending_alerts WHERE fired_at < NOW() - INTERVAL 7 DAY"
      },
      "id": "as-cleanup",
      "name": "Cleanup Old",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        672,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "9io5uj6IpYHlzMgX",
          "name": "MySQL - Home DB"
        }
      }
    },
    {
      "parameters": {
        "path": "alerts/pending",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-pending",
      "name": "GET /alerts/pending",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "alerts-pending"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source, severity, title, body, url_hash, fired_at FROM pending_alerts WHERE read_at IS NULL AND fired_at > NOW() - INTERVAL 24 HOUR ORDER BY fired_at DESC LIMIT 50"
      },
      "id": "ap-query",
      "name": "Query Pending",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        224,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "9io5uj6IpYHlzMgX",
          "name": "MySQL - Home DB"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const alerts = $input.all().map(i => i.json).filter(a => a.id);\nreturn [{ json: { alerts } }];"
      },
      "id": "ap-format",
      "name": "Format Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "ap-respond",
      "name": "Respond Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alerts/acknowledge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-ack",
      "name": "POST /alerts/acknowledge",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        600
      ],
      "webhookId": "alerts-acknowledge"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $json.body || {};\nconst ids = body.ids || [];\nif (ids.length === 0) return [{ json: { sql: 'SELECT 1', count: 0 } }];\nconst esc = (v) => \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\nconst idList = ids.map(esc).join(',');\nreturn [{ json: { sql: `UPDATE pending_alerts SET read_at = NOW() WHERE id IN (${idList})`, count: ids.length } }];\n"
      },
      "id": "aa-prep",
      "name": "Ack Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "aa-exec",
      "name": "Ack Execute",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        448,
        600
      ],
      "credentials": {
        "mySql": {
          "id": "9io5uj6IpYHlzMgX",
          "name": "MySQL - Home DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, acknowledged: $('Ack Prep').first().json.count } }];"
      },
      "id": "aa-format",
      "name": "Ack Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "aa-respond",
      "name": "Ack Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        896,
        600
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://n8n.thisaimachine.com/webhook/zabbix/servers",
        "options": {
          "timeout": 15000
        }
      },
      "id": "as-srv",
      "name": "Get Servers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\n// Store server data for later\nconst srvData = $json;\nreturn [{ json: { _servers: srvData } }];\n"
      },
      "id": "as-store1",
      "name": "Store Servers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://n8n.thisaimachine.com/webhook/zabbix/network",
        "options": {
          "timeout": 15000
        }
      },
      "id": "as-net",
      "name": "Get Network",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst netData = $json;\nconst srvData = $('Store Servers').first().json._servers;\nreturn [{ json: { _servers: srvData, _network: netData } }];\n"
      },
      "id": "as-store2",
      "name": "Store Network",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://n8n.thisaimachine.com/webhook/wazuh/live-stats",
        "options": {
          "timeout": 15000
        }
      },
      "id": "as-waz",
      "name": "Get Wazuh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst wazData = $json;\nconst prev = $('Store Network').first().json;\nreturn [{ json: { ...prev, _wazuh: wazData } }];\n"
      },
      "id": "as-store3",
      "name": "Store Wazuh",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://n8n.thisaimachine.com/webhook/wazuh/insights",
        "options": {
          "timeout": 15000
        }
      },
      "id": "as-ins",
      "name": "Get Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const insData = $json;\nconst prev = $('Store Wazuh').first().json;\nconst srvRaw = prev._servers;\nconst wazRaw = prev._wazuh;\n\nconst now = new Date();\nconst hourKey = now.toISOString().slice(0, 13);\nconst alerts = [];\n\n// Parse server data (may be array-wrapped)\nconst srvObj = Array.isArray(srvRaw) ? srvRaw[0] : srvRaw;\nconst servers = srvObj?.servers || [];\nfor (const s of servers) {\n  if (s.disk_pused !== null && s.disk_pused !== undefined && s.disk_pused >= 90) {\n    alerts.push({\n      id: `zabbix-disk-${s.hostid}-${hourKey}`,\n      source: 'zabbix', severity: s.disk_pused >= 95 ? 'critical' : 'high',\n      title: `Disk space ${Math.round(s.disk_pused)}% on ${s.name}`,\n      body: `${s.name} (${s.ip}) root partition at ${s.disk_pused}%`,\n      url_hash: '/metrics'\n    });\n  }\n}\n\n// --- Offline-host detection (per-host, time-independent) ---\n// Key the alert id on the *set* of offline hosts so it only re-fires when\n// that set changes, not every hour. Recovered hosts are auto-resolved by the\n// DELETE statement appended below.\nconst offlineHosts = servers\n  .filter(s => s.available === false)\n  .map(s => ({ id: s.hostid, name: s.name }))\n  .sort((a, b) => String(a.id).localeCompare(String(b.id)));\n\nlet currentOfflineId = null;\nif (offlineHosts.length > 0) {\n  const idTag = offlineHosts.map(h => h.id).join('_');\n  currentOfflineId = `zabbix-offline-${idTag}`;\n  const names = offlineHosts.map(h => h.name).join(', ');\n  alerts.push({\n    id: currentOfflineId,\n    source: 'zabbix', severity: 'high',\n    title: `${offlineHosts.length} server(s) offline`,\n    body: `Offline: ${names}`,\n    url_hash: '/metrics'\n  });\n}\n\n// Wazuh\nconst wazObj = Array.isArray(wazRaw) ? wazRaw[0] : wazRaw;\nif (wazObj?.critical_alerts > 0) {\n  alerts.push({\n    id: `wazuh-critical-${hourKey}`,\n    source: 'wazuh', severity: 'critical',\n    title: `${wazObj.critical_alerts} critical security alert(s)`,\n    body: `Wazuh detected ${wazObj.critical_alerts} critical severity alerts`,\n    url_hash: '/security'\n  });\n}\n\n// Insights\nconst insObj = Array.isArray(insData) ? insData[0] : insData;\nif (insObj?.failed_auth?.total > 10) {\n  alerts.push({\n    id: `wazuh-auth-${hourKey}`,\n    source: 'wazuh', severity: 'high',\n    title: `${insObj.failed_auth.total} failed auth attempts`,\n    body: `${insObj.failed_auth.total} failed authentication attempts in the last 24h`,\n    url_hash: '/security'\n  });\n}\n\n\n// Dashboard auth brute-force detection (per-IP rate in past 10 minutes)\nconst authBurstsRaw = $('Store Auth Bursts').first().json._authBursts;\nconst authBurstsObj = Array.isArray(authBurstsRaw) ? authBurstsRaw[0] : authBurstsRaw;\nconst BURST_WARN = 10;      // HIGH: 10+ failures from one IP / 10 min\nconst BURST_CRIT = 50;      // CRITICAL: 50+ failures from one IP / 10 min\nconst MINUTE_BUCKET = now.toISOString().slice(0, 16).replace(':', '_'); // 10-min dedup window\nfor (const ipEvt of (authBurstsObj?.by_ip || [])) {\n  if (ipEvt.looks_like_probe) continue;\n  if (ipEvt.count >= BURST_CRIT) {\n    alerts.push({\n      id: `dashauth-brute-crit-${ipEvt.ip}-${MINUTE_BUCKET}`,\n      source: 'dashboard-auth', severity: 'critical',\n      title: `Brute-force: ${ipEvt.count} auth failures from ${ipEvt.ip}`,\n      body: `${ipEvt.ip} has ${ipEvt.count} auth failures in the last 10 min (UAs: ${(ipEvt.user_agents||[]).slice(0,2).join(', ')})`,\n      url_hash: '/security'\n    });\n  } else if (ipEvt.count >= BURST_WARN) {\n    alerts.push({\n      id: `dashauth-brute-${ipEvt.ip}-${MINUTE_BUCKET}`,\n      source: 'dashboard-auth', severity: 'high',\n      title: `Suspicious login activity: ${ipEvt.count} from ${ipEvt.ip}`,\n      body: `${ipEvt.ip} has ${ipEvt.count} auth failures in the last 10 min`,\n      url_hash: '/security'\n    });\n  }\n}\n\nconst esc = (v) => v ? \"'\" + String(v).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\") + \"'\" : 'NULL';\n\n// Auto-resolve: delete any pending zabbix-offline-* rows that don't match the\n// current offline set. If nothing is offline, this clears all of them.\nconst resolveSql = currentOfflineId\n  ? `DELETE FROM pending_alerts WHERE id LIKE 'zabbix-offline-%' AND id <> ${esc(currentOfflineId)}`\n  : `DELETE FROM pending_alerts WHERE id LIKE 'zabbix-offline-%'`;\n\nconst stmts = [resolveSql];\nfor (const a of alerts) {\n  stmts.push(\n    `INSERT IGNORE INTO pending_alerts (id, source, severity, title, body, url_hash) VALUES (${esc(a.id)}, ${esc(a.source)}, ${esc(a.severity)}, ${esc(a.title)}, ${esc(a.body)}, ${esc(a.url_hash)})`\n  );\n}\n\nreturn [{ json: { sql: stmts.join(';\\n'), count: alerts.length, resolveOnly: alerts.length === 0 } }];\n"
      },
      "id": "as-threshold",
      "name": "Check Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://n8n.thisaimachine.com/webhook/dashboard-auth/bursts",
        "options": {
          "timeout": 15000
        }
      },
      "id": "alerts-get-bursts",
      "name": "Get Auth Bursts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Store Wazuh').first().json; return [{ json: { ...prev, _authBursts: $json } }];"
      },
      "id": "alerts-store-bursts",
      "name": "Store Auth Bursts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE pending_alerts ADD COLUMN IF NOT EXISTS pushed_at TIMESTAMP NULL",
        "options": {}
      },
      "id": "ensure-pushed-col",
      "name": "Ensure pushed_at column",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1900,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "9io5uj6IpYHlzMgX",
          "name": "MySQL - Home DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source, severity, title, body, url_hash FROM pending_alerts WHERE pushed_at IS NULL AND fired_at > NOW() - INTERVAL 2 HOUR ORDER BY fired_at DESC LIMIT 20",
        "options": {}
      },
      "id": "query-unpushed",
      "name": "Query Unpushed",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "alwaysOutputData": true,
      "position": [
        2100,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "9io5uj6IpYHlzMgX",
          "name": "MySQL - Home DB"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Push each unpushed alert to subscribers via the existing /webpush/send\n// endpoint. Returns SQL to mark the successfully-pushed IDs.\n\nconst N8N_BASE = 'https://n8n.thisaimachine.com/webhook';\nconst alerts = $input.all().map(i => i.json).filter(a => a && a.id);\n\nif (alerts.length === 0) {\n  return [{ json: { sql: 'SELECT 1', pushed: 0 } }];\n}\n\nconst pushedIds = [];\nfor (const a of alerts) {\n  const payload = {\n    title: a.title || 'Dashboard alert',\n    body: a.body || '',\n    icon: '/dashboard/logo192.png',\n    badge: '/dashboard/logo192.png',\n    tag: a.id,\n    requireInteraction: a.severity === 'critical',\n    data: {\n      alert_id: a.id,\n      url_hash: a.url_hash || '/',\n      severity: a.severity || 'info',\n      source: a.source || 'dashboard'\n    }\n  };\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: N8N_BASE + '/webpush/send',\n      body: { payload },\n      json: true,\n      timeout: 10000,\n      ignoreHttpStatusErrors: true\n    });\n    pushedIds.push(a.id);\n  } catch (e) {\n    // swallow per-alert failures; we'll retry next cycle since pushed_at stays NULL\n  }\n}\n\nif (pushedIds.length === 0) {\n  return [{ json: { sql: 'SELECT 1', pushed: 0 } }];\n}\nconst list = pushedIds.map(id => \"'\" + String(id).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\") + \"'\").join(',');\nconst sql = `UPDATE pending_alerts SET pushed_at = NOW() WHERE id IN (${list})`;\nreturn [{ json: { sql, pushed: pushedIds.length } }];\n"
      },
      "id": "push-alerts",
      "name": "Push Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "mark-pushed",
      "name": "Mark Pushed",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2500,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "9io5uj6IpYHlzMgX",
          "name": "MySQL - Home DB"
        }
      }
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Get Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Servers": {
      "main": [
        [
          {
            "node": "Store Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Servers": {
      "main": [
        [
          {
            "node": "Get Network",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Network": {
      "main": [
        [
          {
            "node": "Store Network",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Network": {
      "main": [
        [
          {
            "node": "Get Wazuh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Wazuh": {
      "main": [
        [
          {
            "node": "Store Wazuh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Wazuh": {
      "main": [
        [
          {
            "node": "Get Auth Bursts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Insights": {
      "main": [
        [
          {
            "node": "Check Thresholds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Thresholds": {
      "main": [
        [
          {
            "node": "Insert Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Alerts": {
      "main": [
        [
          {
            "node": "Cleanup Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /alerts/pending": {
      "main": [
        [
          {
            "node": "Query Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Pending": {
      "main": [
        [
          {
            "node": "Format Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pending": {
      "main": [
        [
          {
            "node": "Respond Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /alerts/acknowledge": {
      "main": [
        [
          {
            "node": "Ack Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Prep": {
      "main": [
        [
          {
            "node": "Ack Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Execute": {
      "main": [
        [
          {
            "node": "Ack Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Format": {
      "main": [
        [
          {
            "node": "Ack Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Auth Bursts": {
      "main": [
        [
          {
            "node": "Store Auth Bursts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Auth Bursts": {
      "main": [
        [
          {
            "node": "Get Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Old": {
      "main": [
        [
          {
            "node": "Ensure pushed_at column",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure pushed_at column": {
      "main": [
        [
          {
            "node": "Query Unpushed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Unpushed": {
      "main": [
        [
          {
            "node": "Push Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Alerts": {
      "main": [
        [
          {
            "node": "Mark Pushed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 2 Minutes": {
      "recurrenceRules": []
    }
  }
}